.place__url-link{
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  cursor: pointer;
}
.place__url-link:hover{
  opacity: 0.8;
}
