.cover__background{
  margin: 0 auto 92px;
  max-width: 100%;
}

@media screen and (max-width:1024px){
  .cover__background{

    max-width: calc(100% + 2*48px);
    margin: 0 -48px 92px;
  }
}

@media screen and (max-width:768px){
  .cover__background{
    max-width: calc(100% + 2*48px);
    margin: 0 -48px 88px;
  }
}
@media screen and (max-width:320px){
  .cover__background{
    margin: 0 -16px 64px;

  }
}


