@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__nav/footer__nav.css);
.footer{
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
  min-height: 18px;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width:320px){
  .footer{
    flex-direction: column;
    /* max-width: 186px; */
    margin: 0;
  }
}
